html, body {
	font-family: 'railway', 'sans-serif';
	background-color: #ecedf1;
	height: 100%;
}
section {
	margin-left: 200px;
	padding-top: 50px;
	height: calc(100% - 40px);
}
.login-logo {
	justify-content: center;
	opacity: 0.8;
	width: 200px;
}
.control-custom {
	border: 0 !important;
	background-color: rgba(0,0,0,0) !important;
	transition: .5s;
	color: #b3d7ff;
}
.control-custom::placeholder {
	color: #fff !important;
	opacity: 0.5;
}
.control-custom:hover {
	border: 0 !important;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.10) !important;
	transition: .5s;
	color: #fff;
}
.control-custom:focus {
	border-radius: 20px;
	border: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
	color: #b3d7ff;
}
.login {
	background-color: rgba(0, 0, 0, 0) !important;
	margin-top: 25%;
	border-radius: 2.5% !important;
	box-shadow: 0 0 1rem rgba(0,0,0,.2)!important; 
	transition: .5s;
}
.login:hover {
	background-color: rgba(255, 255, 255, 0.05) !important;
	transition: .5s;
	box-shadow: 0 0 2rem rgba(0,0,0,.5)!important; 
	transform: scale(1.01);
}
.input-group-text {
	background-color: rgba(0,0,0,0) !important;
	color: rgba(255,255,255,0.5);
	border: 0;
}
#login-form {
	background: url(../images/login-bg-2.png);
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}
.bg-dark-blue {
	background-color: #2f3a4c !important;
}
#judul {
	margin: 15px;
	color: #343a40;
}
.btn-custom {
	background: linear-gradient(to left, #00bfe9 25%, #00ff89 75%);
	border: 0px;
	transition: 2s;
}

.btn-custom:hover {
	transition: 2s;
	background: linear-gradient(to right, #00bfe9 25%, #00ff89 75%);
}
.btn-custom:focus, .btn-custom.focus {
	box-shadow: 0 0 0 0.2rem rgba(3, 194, 244, 0.5);
}
.judul-login {
	color: #00bfe9;
	font-size: 3.5rem;

.navbar-biru {
    color: #FFFFFF;
    background-color: #00bfe9;
}	
	
}
.judul-login:hover {
	text-decoration: none;
	color: #00bfe9;
	transition: .5s;
}
#add {
	font-size: 1.5rem;
	display: block;
	float: right;
	padding: 10px;
	width: 45px;
	height: 45px;
}
#no {
	text-align: center;
	width: 50px;
}
#login {
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.navbar {
	padding: 0 60px 0 0 !important;
	background-color: #fff;
}
.shadow {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.navbar-brand {
	width: 200px;
	font-size: 1.5rem;
	padding: 5px 0;
	justify-content: center;
	text-align: center;
	background-color: #00bfe9;
}
.nav-item {
	margin: 0 10px;
}
.nav-link2:hover{
	background-color: #d3d;
}
.dropdown-menu {
	background-color: #dc3545;
	border-width: 0px;
	border-radius: 50px;
	min-width: 7.5rem !important;
	padding: 0 !important;
}
.btn-lgt {
	color: #00bfe9;
}
.btn-lgt:hover {
	color: #f44336;
	transition: .5s;
	text-decoration: none;
}
.side-bar {
	padding-top: 5rem; 
	position: fixed;
	background-color: #2f3a4c;
	height: 100%;
	width: 200px;
	left: 0;
}
thead {
	background-color: #2f3a4c !important;
}
.side-bar label {
	font-size: 1.1rem;
	margin-left: 20px;
	color: #f5f5f5;
}
.form {
	margin-top: 50px;
}
.side-item {
	margin-top: 7px;
	margin-right: 10px;
	display: block;
	text-decoration: none;
	transition: .5s
}
.side-item a:hover {
	background-color: #00bfe9;
	display: block;
	width: 180px;
	padding-left: 30px;
	transition-timing-function: ease-in-out;
	transition: .5s;
	color: #2f3a4c;
}
.side-item a {
	display: block ;
	width: 150px;
	padding: 5px 0 5px 20px;
	border-radius: 0px 100px 100px 0;
	/*background-color: #555;*/
	font-size: 1.1rem;
	text-decoration: none;
	color: #00bfe9;
}
.side-item a i {
	font-size: 1.3rem;
}
.active {
	background-color: #00bc8c !important;
	display: block !important;
	width: 230px !important;
	transition-timing-function: ease-in-out;
	transition: .5s;
	color: #444 !important;
}
.grs {
	background-color: #888;
	height: 1.2px;
	border-radius: 10px;
}
a {
	transition: .5s;
}

footer {
	position: relative;
	color: #999;
	background-color: #444;
	width: 100%;
	padding: 10px 0 0 0;
	text-align: center;
	bottom: 0;
}
.btn {
	margin: 0 3px;
	padding-left: 20px;
	padding-right: 20px; 
	border-radius: 50px;
}